body {
  font-family: Arial, sans-serif;
  background-color: #c5b6e6;
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
  color: rgb(0, 12, 245);
}

p {
  color: #eb148e;
}

div {
  margin-bottom: 10px;
}